extends base.pug

block contents
    div#videoContainer(data-id=content._id)
        video(src=content.contentFile)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currenTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand

    div.video__data
        p.video__title=content.contentTitle
        p.video__desc=content.contentDesc
        small.video__owner 작성자  
            a(href=`/user/${content.owner._id}`)=content.owner.userName
        if String(content.owner._id) === String(loggedInUser._id)
            div#editBox
                a(href=`${content.id}/edit`, id="editVideo") 수정
                a(href=`${content.id}/delete`, id="deleteVideo") 삭제
    if loggedIn
        div#commentBox
            form#commentForm
                if loggedInUser.profileImg
                    img(src=loggedInUser.profileImg, crossorigin, alt="profile")
                else
                    i.fas.fa-user-circle
                input(type="text", placeholder="댓글 내용을 입력해주세요", id="commentTextarea")
                button(type="submit") 작성
            ul#commentUl
                if !content.comments
                    h3 아직 등록된 댓글이 없습니다
                else    
                    each comment in content.comments.reverse()
                        li(data-id=comment.id, data-ownerid=comment.ownerID)
                            if loggedInUser.profileImg
                                img(src=loggedInUser.profileImg alt="user") 
                            else
                                i.fas.fa-user-circle
                            div
                                span #{comment.ownerName}
                                p #{comment.text}
                            if String(comment.ownerID) === String(loggedInUser._id)
                                span.deleteComment 삭제

block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentBox.js") 